web2py/
web2py_src.zip
*.pyc
*.pyo
*~
#*
*.1
*.bak
*.bak2
*.svn
*.w2p
*.class
*.rej
*.orig
.DS_Store
index.yaml
logging.conf
webcam/picamera/databases/*
webcam/picamera/sessions/*
webcam/picamera/errors/*
webcam/picamera/cache/*
webcam/picamera/uploads/*
webcam/picamera/*.py[oc]
webcam/picamera/static/temp
webcam/picamera/progress.log
.idea/*
